

.view-orders-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 85rem;
  margin: 0 auto;
  text-align: center;
  margin: 100px auto;
}

.view-orders-container h2 {
  margin-bottom: 1rem;
}

.view-orders-container select {
  padding: 0.5rem;
  margin-bottom: 2rem;
  font-size: 1rem;
}
.order-status select {
  margin-bottom: 2rem;
  font-size: 1rem;
  color: red;
}

.order-fieldset {
  display: flex;
  flex-direction: row;
  gap: 20px;
  border: 1px solid #ccc;
  padding: 1rem 2rem;
  width: 100%;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  align-content: flex-start;
  justify-content: space-between;
  align-items: center;
}


.complete-btn {
  width: 100%;
}
.header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 1rem 2rem;
  margin-bottom: 1.5rem;
  width: 90%;
}

.header-row h2, button, select {
  vertical-align: middle;
  line-height: 1.5;
  padding: 0.5rem;
  margin: 0;
}

button {
  width: 17rem;
  height: 50px;
}

.header-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.order-status {
  color: rgb(0, 0, 0);
}